body {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(0, 44, 0);
    color: lime;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

button {
    width: 96px;
    height: 54px;
    border-radius: 5px;
    background-color: lime;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 44, 0);
    margin: 0 -10px;
    outline: none;
}

button:active {
    position: relative;
    top: 1px;
}

.container, #displaySong {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    display: inline-block;
    padding: 30px;
    width: 666px; 
}

#displaySong {
    text-align: left;
}

.block {
    display: block;
    margin: 60px 0 30px;
}