body {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(0, 44, 0);
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 0;
}

button {
    width: 96px;
    height: 54px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lime;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 44, 0);
    outline: none;
    display: inline-block;
}

button:active {
    position: relative;
    top: 1px;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin: 40px auto 0px;
    padding: 30px 0px;
    width: 666px; 
}

#displaySong {
    margin: 0 20px;
    font-size: 40px;
    text-align: left;
    min-height: 165px;
}

@media all and (max-width: 768px) {

    body {
        max-width: 400px;
    }

    .container {
        width: 100%;
        margin: 10px auto 0px;
    }
    #displaySong {
        font-size: 24px;
        min-height: 125px;
    }
}